version: "3.8"
services:
    web:
        build: ./src
        ports:
            - "5000:5000"
        volumes:
            - ./src:/code
        links:
            - 'mysql'
    mysql:
        restart: always
        image: mariadb
        container_name: mysql-container
        ports:
            - 3306:3306
        volumes:
            - ./BD/data.sql:/docker-entrypoint-initdb.d/dump.sql
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: TIENDA
            MYSQL_USER: sapractica
            MYSQL_PASSWORD: sapractica

# - sudo docker exec -it 75d bash
# - mysql -u root -p